<div class="header-container">
  <h1 class="header">{{aboutUsConstant.header}}</h1>
</div>

<div class="container">
  <article>
    <p>{{aboutUsConstant.text}}</p>
      <img src="/assets/photo-about-us.jpg" alt="">
  </article>
  
  <article>
    <ul>
      <li>{{aboutUsConstant.point1}}</li>
      <li>{{aboutUsConstant.point2}}</li>
      <li> {{aboutUsConstant.point3}}</li>
    </ul>
  </article>

  <article>
    <h2>{{aboutUsConstant.missionTitle}}</h2>
    <p>{{aboutUsConstant.missionContent}}</p>
  </article>

  <article>
    <figure>
      <!-- <img src="/assets/slide-1.jpg" alt=""> -->
      <figcaption>
        <h2>{{aboutUsConstant.visionTitle}}</h2>
        <p>{{aboutUsConstant.point4}}</p>
        <p>{{aboutUsConstant.point5}}</p>
        <p>{{aboutUsConstant.point6}}</p>
      </figcaption>
    </figure>
  </article>
</div>

<!-- 
<div class="container">
  
  <div class="mission-statement">
    <h2>Мисија</h2>
    <p>
      Нашата мисија е „најдоброто за своите пари“, „најдоброто за парите“, „best value for money“ тоа значи дека односот
      на квалитетот и цената одговораат на потребите на голем број на корисници. Со цел да живееме заедно со нашите
      клиенти постојано ги истражуваме нивните потреби, ги следиме трендовите, стекнуваме нови знаења и користиме
      најнова технологија.
    </p>
  </div>
  <div class="mission-statement">
    <h2>Визија</h2>
    <p>
      Гледаме напред, бидејќи иднината е наш сојузник во креирањето на нови и подобри производи и услуги.

      Секој ден растеме, конкурентни сме на пазарот, секогаш високо позиционирани, лидери во обезбедување на високо
      квалитетни услуги.

      Ние живееме заедно.
    </p>
  </div>
</div> -->
