<!-- <div class="header-container">
  <h1 class="header">{{contactConstant.contact}}</h1>
</div> -->
<div id="logo">
  <img class="logo" src="assets/favorit-logo.png" alt="">

</div>
  <div class="info-company">
      <div><h1>{{contactConstant.contact}}:</h1></div>
      <p><strong>{{contactConstant.address}}:</strong><a href=""> Ул. Партизански одреди 154 1000 Скопје, Р. С. Макeдoнија</a> </p>
      <p><strong>{{contactConstant.phone}}:</strong><a href="tel:+385(0)16401111"> +389 2 2440 110</a></p>
      <p><strong>{{contactConstant.email}}:</strong><a href="centrounion@centrounion.com.mk"> centrounion&#64;centrounion.com.mk</a></p>
      <p><strong>{{contactConstant.service}}:</strong></p>
      <p><strong>{{contactConstant.phone}}:</strong><a href="mailto:prodaja@mrservis.hr"> 02 2 440 070</a></p>
      <p><strong>{{contactConstant.email}}:</strong><a href="servis@centrounion.com.mk"> servis&#64;centrounion.com.mk</a></p>
  </div>
<div class="container">
  <!-- <form action="" method="post" enctype="text/plain">
    <label for="name">{{contactConstant.name}}</label>
    <input type="text" id="name" name="name" required><br><br>
    
    <label for="email">{{contactConstant.youEmail}}:</label>
    <input type="email" id="email" name="email" required><br><br>
    
    <label for="message">{{contactConstant.message}}:</label><br>
    <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

    <button type="submit">{{contactConstant.submit}}</button>
  </form> -->

  <iframe src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Центро Унион Фаворит електроникс&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"  width="90%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
